<!doctype html>
<html>
  <head>
    <title>secret santa</title>
    <style>
      body {
        background-image: url("{{ wallpaper }}");
        background-size:cover;
      }
    </style>
  </head>
  <body style="text-align:center;">
    <img src="{{ logo }}" style="width:100px; height:100px;"/>
    <form name="sendmail" id="sendmail" method="POST" style="margin:50px; text-align:center;">
      <div>{{ message }}</div>
      <br/>
      <br/>
      <select name="sendto" id="sendto" style="width:500px;">
          <option disabled selected value> -- select your child -- </option>
          <option value="@agangada">Anbarasan Gangadaran</option>
          <option value="@csenthil">Senthil Kumar Chandran</option>
          <option value="@gganeshk">Ganesh Kumar Ganapathi</option>
          <option value="@gghosh">Ghosh Grishma</option>
          <option value="@jeevaa">Jeeva</option>
          <option value="@jiming">Jimin George</option>
          <option value="@kparamag">Paramaguru Karthikeyan</option>
          <option value="@lavanyak">K Lavanya</option>
          <option value="@mrudraia">Rudraiah Mahesh</option>
          <option value="@nallurib">Bhargavi Nalluri</option>
          <option value="@pthiruna">Praveen</option>
          <option value="@ranjitha">Ranjitha</option>
          <option value="@rmoha002">Rajesh Mohan</option>
          <option value="@veeraras">S Veeraraghavan</option>
      </select> 
      <div style="display:inline-block; width:200px; display:none;">
        <input type="checkbox" name="private" id="private" value="private"/> Send privately
      </div>
      <br/>
      <br/>
      <textarea name="content" id="content" placeholder="Enter mail body" style="width:500px; height:200px;"></textarea>
      <br/>
      <br/>
      <input type="submit" value="Post" />
      <input type="reset" value = "Reset" />
    </form>
  </body>
</html>
